<ion-header>
  <ion-toolbar>
    <ion-title>
      Contagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>

    <ion-row>

      <ion-col>
        <ion-button class="div" color="azul"> 
          Auto <br> (0) 
        </ion-button>
      </ion-col>
      
      <ion-col>          
        <ion-button block class="div utilitario" color="vermelho">
          Auto <br> Utilitario <br> (0)   
        </ion-button>  
      </ion-col>

      <ion-col>
          <ion-button class="div" color="laranja">  
            Auto <br> 3 Eixos <br> (0) 
          </ion-button>
      </ion-col>

    <ion-col>
      <ion-button class="div" color="verde">
         Auto <br> 4 Eixos <br> (0)
      </ion-button>
    </ion-col>

  </ion-row> 

  <ion-row>

    <ion-col>
        <ion-button class="div" color="azul"> 
          Onibus <br> 2 Eixos <br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="vermelho"> 
          Onibus <br> 3 Eixos <br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="laranja"> 
          Onibus <br> 4 Eixos <br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="verde"> 
          Veiculo <br> Oficial <br> (0) 
        </ion-button>
    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col>
        <ion-button class="div" color="azul"> 
          Veiculo <br> Especial <br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="vermelho"> 
          Motos <br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="laranja"> 
          C Leve<br> 2E <br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="verde"> 
          C 2E <br> (0) 
        </ion-button>
    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col>
        <ion-button class="div" color="azul"> 
          C3 R<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="vermelho"> 
          C3 1S<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="laranja"> 
          C4 R<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="verde"> 
          C4 1S<br> (0) 
        </ion-button>
    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col>
        <ion-button class="div" color="azul"> 
          C4 2S<br> (0) 
        </ion-button>
    </ion-col>
  
    <ion-col>
        <ion-button class="div" color="vermelho"> 
          C5 R<br> (0) 
        </ion-button>
    </ion-col>
  
    <ion-col>
        <ion-button class="div" color="laranja"> 
          C5 1S<br> (0) 
        </ion-button>
    </ion-col>
  
    <ion-col>
        <ion-button class="div" color="verde"> 
          C5 2S<br> (0) 
        </ion-button>
    </ion-col>
    
  </ion-row>

  <ion-row>

    <ion-col>
        <ion-button class="div" color="azul"> 
          C6 R<br> (0) 
        </ion-button>
    </ion-col>
  
    <ion-col>
        <ion-button class="div" color="vermelho"> 
          C6 1S<br> (0) 
        </ion-button>
    </ion-col>
  
    <ion-col>
        <ion-button class="div" color="laranja"> 
          C6 2S<br> (0) 
        </ion-button>
    </ion-col>
  
    <ion-col>
        <ion-button class="div" color="verde"> 
          C6 3S<br> (0) 
        </ion-button>
    </ion-col>
    
  </ion-row>

  <ion-row>

    <ion-col>
        <ion-button class="div" color="azul"> 
          C7 R<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="vermelho"> 
          C7 1S<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="laranja"> 
          C7 2S<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="verde"> 
          C7 3S<br> (0) 
        </ion-button>
    </ion-col>
    
  </ion-row>

  <ion-row>

    <ion-col>
        <ion-button class="div" color="azul"> 
          C8 R<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="vermelho"> 
          C8 1S<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="laranja"> 
          C8 2S<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="verde"> 
          C8 3S<br> (0) 
        </ion-button>
    </ion-col>
    
  </ion-row>

  <ion-row>

    <ion-col>
        <ion-button class="div" color="azul"> 
          C8 4S<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="vermelho"> 
          C9 R<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="laranja"> 
          C9 1S<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="verde"> 
          C9 2S<br> (0) 
        </ion-button>
    </ion-col>
    
  </ion-row>

  <ion-row >

    <ion-col>
        <ion-button class="div" color="azul"> 
          C9 3S<br> (0) 
        </ion-button>
    </ion-col>

    <ion-col>
        <ion-button class="div" color="vermelho"> 
          C9 4S<br> (0) 
        </ion-button>
    </ion-col>
    
    <ion-col></ion-col><ion-col></ion-col>
  </ion-row>
   
</ion-grid> 
</ion-content>
