<ion-header>
  <ion-toolbar>
    <ion-title>
      Contagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

    <ion-col>
      <ion-button class="div" color="azul"> Auto (0) </ion-button>
    </ion-col>

    
    <ion-col>
      <ion-item>
        <ion-button block class="div" color="vermelho">
          
         Auto Utilitario (0)
        
        </ion-button>
      </ion-item>
    </ion-col>
  

    <ion-col>
        <ion-button class="div azul">  Auto 3 Eixos (0) </ion-button>
    </ion-col>

    <ion-col>
      <ion-button class="div vermelho"> Auto 4 Eixos (0) </ion-button>
    </ion-col>

  </ion-row> 

  <ion-row>
   
    <ion-col>
      <div >
        <ion-button class="div azul"> Onibus 2 Eixos (0) </ion-button>
      </div>
    </ion-col>

    <ion-col>
      <div >
        <ion-button class="div vermelho" color="vermelho"> Onibus 3 Eixos (0) </ion-button>
      </div>
    </ion-col>

    <ion-col>
      <div >
        <ion-button class="div azul"> Onibus 4 Eixos (0) </ion-button>
      </div>
    </ion-col>

    <ion-col>
      <div >
        <ion-button class="div azul"> Veiculo Oficial (0) </ion-button>
      </div>
    </ion-col>

  </ion-row>
   
  </ion-grid> 
</ion-content>
